Q.2) Write code to find the average of ‘n’
numbers entered by the user to function avg ( ).
Ex: avg (10, 20, 30, 40) => average is: 70
avg (5, 10, 15) => average is: **10**

In [23]:
a=[]
while True:
    e=input("Enter the number:")
    if e=='':
        break
    a.append(float(e))
print(len(a))
avg=sum(a)/len(a)
print("Average:",avg)

Enter the number:5
Enter the number:10
Enter the number:15
Enter the number:
3
Average: 10.0

Q.3) Print
1
0 1
0 1 0
1 0 1 0
1 0 1 0 1

In [5]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j%2,end=' ')
  print()

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

Q.4) Write a code to accept a number & print
in words.
Ex: 123
Three
Two
One

In [54]:
a=input("Enter the numbers: ")
for i in a:
  if i==1:
    b=One
    print(b)

Enter the numbers: 1

Q.5) Create class

In [26]:
class Human:
  def setname(self,name):
    self.name=name
  def setgender(self,male):
    self.gender=male
  def intro(self):
    print("My name is",self.name,"and I am",self.gender)

h=Human()
h.setname("Suraj")
h.setgender("Male")
h.intro()

My name is Suraj and I am Male

Q.8) Print
1
3 3
5 5 5
6 6 6 6
7 7 7 7 7

In [20]:
for i in range(1,8,2):
  for j in range(1,i+1,2):
    print(i,end="")
  print()

1
33
555
7777

Q.10) Create menu driven code for
1) Accept 2 numbers
2) Add
3) Sub
4) Mul
5) Div

In [31]:
n=float(input("Enter first number: "))
m=float(input("Enter second number: "))
Add=n+m
print("Add=",Add)
Sub=n-m
print("Sub=",Sub)
Mul=n*3
print("Mul=",Mul)
Div=n/m
print("Div=",Div)

Enter first number: 20
Enter second number: 10
Add= 30.0
Sub= 10.0
Mul= 60.0
Div= 2.0